<nav class="px-2 sm:px-4 py-4 sm:py-5 bg-white" aria-label="Main navigation">
  <div class="container-fluid flex flex-wrap justify-between items-center mx-auto">
    <!-- <span class="w-4 h-4 bg-blue-500"></span> -->
    <a  class="flex items-center">
      <span class="lg:w-4 lg:h-4 w-3 h-3 m-3 bg-[#0050ff]"></span>
      <span class="mr-3 text-black" alt="logo" >
        <b class="lg:text-title text-[20px]">Massam Ndongo</b>
      </span>
      <span class="lg:text-[20px] text-[15px]"> / Développeur Web</span>
    </a>
    <button app-hamburger></button>
    <div app-menu class="md:flex md:order-1 sm:bg-[#f4ece6] lg:bg-transparent">
      <li>
        <a
          routerLink="/accueil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}"
          data-drawer-dismiss="menu-container"
          class="block py-2 px-4 md:p-0 text-gray-900 hover:text-[#0050ff] font-light">À PROPOS DE MOI</a
        >
      </li>
      <li>
        <a
          routerLink="/cv" routerLinkActive="active"
          data-drawer-dismiss="menu-container"
          class="block py-2 px-4 md:p-0 text-gray-900 hover:text-[#0050ff]  font-light"
          >CV</a
        >
      </li>
      <li>
        <a
          routerLink="/projets" routerLinkActive="active"
          data-drawer-dismiss="menu-container"
          class="block py-2 px-4 md:p-0 text-gray-900 hover:text-[#0050ff]  font-light"
          >PROJETS</a
        >
      </li>
      <li>
        <a
          routerLink="/contact" routerLinkActive="active"
          data-drawer-dismiss="menu-container"
          class="block py-2 px-4 md:p-0 text-gray-900 hover:text-[#0050ff] font-light"
          >CONTACT</a
        >
      </li>
    </div>
  </div>
</nav>
